.layout-container {
  background-color: #fafafa;
  margin-left: 108px;
  padding: 24px;
  width: calc(100vw - 108px);
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
