.navbar {
  height: 100%;
  width: 108px;
  border-right: 1px solid #d7dbdd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  padding: 16px;
  z-index: 9999;
  background-color: white;
  &__alarm {
    position: fixed;
    top: 100px;
    left: 120px;
    z-index: 9999;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 64px;
    &__menu {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: 36px;
      align-items: center;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    &__point-button {
      border: 1px solid #f5f5f5;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: #f9fafb;
      border-radius: 12px;
      gap: 12px;
      span {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }
  }
}
